.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 40px;
}
@media (max-width: 850px) {
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }  
}
@media (min-width: 851px) and (max-width: 1099px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }  
}

@media (min-width: 1100px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }  
}

.tumbnail-row{
    margin-bottom: 15px;
    position: relative;
}
.tumbnail-image{
    border-radius: 16px;
    width: 100%;
}
.video-time{
    background-color: black;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    bottom: 13px;
    right: 10px;
    padding: 4px;
    border-radius: 3px;
}

.video-details-row{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.profile-pic{
    width: 40px;
    border-radius: 25px;
    background-color: transparent;
}

.video-description{
    padding-left: 10px;
}

.vid-title{
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 12px;
}
.channel-name, .vid-details{
    color: rgb(99, 97, 97);
}
.channel-name{
    margin-bottom: 8px;
}